* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.smart-quiz {
    display: flex;
    justify-content: center;
}

.smart-quiz button {
    width: 200px;
    margin: 20px;
    padding: 20px;

}